.btn-lang{
    text-align: center;
    height: 450px;
    width: 75%;
    /* border: 1px solid black; */
    margin-top: 4%;
    margin-left: 13%;
    display: flex;
    justify-content: center;
    align-items: top;
    
 }
 .inner{
     display: inline-flex;
     gap: 10px;
     width: 100%; 
    flex-direction: column;
 }
 .buttons{
   height: 50px;
 }
 @media screen and (max-width: 400px) {
     .btn-lang{
         margin-top: 10%;
     }
   }